/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*:focus {
  outline: none;
}

html, body {
  height: 100%;
  font-family: arial, sans-serif;
}

header {
  padding: 20px 20px 0 5px;
}

footer {
  height: 80px;
  bottom: 0;
  width: 100%;
  margin-top: -82px;
  background: #f2f2f2;
}

.container {
  min-height: 100%;
}

.content {
  padding-bottom: 80px;
}

.main-content {
  padding-top: 160px;
}

.header-nav {
  display: inline-block;
}

.header-nav a {
  padding-left: 15px;
  vertical-align: text-top;
}

.right-nav {
  float: right;
}

#logo {
  width: -moz-min-content;
  width: min-content;
  margin: 0 auto;
}

#search-form {
  width: -moz-min-content;
  width: max-content;
  margin: 0 auto;
}

#search-bar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.search-field {
  height: 44px;
  width: 425px;
  border-radius: 25px;
  border: 1px solid #dfe1e5;
  padding-left: 25px;
  font-family: inherit;
  font-size: 16px;
}

.search-field:hover, .search-field:focus {
  box-shadow: 0 1px 3px 1px #e0dbdb;
}

#search-buttons {
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.search-button {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding: 8px 14px;
  margin: 10px;
  font-family: inherit;
  font-size: 14px;
  color: #5F6368;
}

.search-button:hover{
  border: 1px solid #c6c6c6;
  background-color: #f8f8f8;
  color: #222;
  box-shadow: 0 1px 1px #d1cfcf;
}

a {
  font-size: 13px;
  color: #000;
  opacity: 0.75;
  text-decoration: none;
}

a:visited {
  color: #000;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#apps-link {
  display: inline-block;
  background-image: url("../assets/icon.png");
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-origin: content-box;
  opacity: 0.55;
}

#apps-link:hover {
  opacity: 1;
}

#sign-in-button {
  background: #4285f4;
  opacity: 1;
  margin-left: 15px;
  padding: 7px 12px 7px 12px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 2px;
}

#sign-in-button:hover {
  text-decoration: none;
  cursor: default;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.footer-nav {
  height: 40px;
  border-top: 1px solid #e8e8e8;
  padding-right: 20px;
  margin-left: -7px;
}

.footer-nav-links {
  display: inline-block;
}

#footer-country {
  height: 40px;
  border-top: 1px solid #e8e8e8;
  padding: 0 20px;
  vertical-align: middle;
}

#footer-country p {
  font-size: 15px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.5);
}

.footer-nav-links a {
  line-height: 40px;
  padding-left: 27px;
  color: #5f6368;
  opacity: 1;
}
